<ion-view view-title="Bets">
  <ion-content>
  <div class="card1" style="margin: 50px">
<ion-card>

  <ion-item>
    <ion-avatar style="display:inline;float:left">
      <img width="70px" height="70px" src="https://lh3.googleusercontent.com/PuKDZ4EOWdTL50BR3CJVOiq6bbvJdXZoyQ-FEn9USXTU4IneBdBN3A0oYRVBDIjz8g8d=s128">
    </ion-avatar>
    <div style="width:100%;text-align: center; vertical-align: middle">
    	<h2>Marty McFly</h2>
   		<p>November 5, 1955</p>
	</div>
  </ion-item>

  <img src="img/advance-card-bttf.png">

  <ion-card-content>
  <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
  </ion-card-content>

  <ion-item>
    <button primary clear item-left>
      <ion-icon name="thumbs-up"></ion-icon>
      <div>12 Likes</div>
    </button>
    <button primary clear item-left>
      <ion-icon name="text"></ion-icon>
      <div>4 Comments</div>
    </button>
    <ion-note item-right>
      11h ago
    </ion-note>
  </ion-item>

</ion-card>
</div>
  </ion-content>
</ion-view>
