<ion-view view-title="BetFeed">
    <ion-header-bar class="bar-light bar-subheader">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
                <search-bar></search-bar>
            </label>
            <button class="button button-clear">
                Cancel
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="tab-content" style="margin-top: 7px;">
            <ion-tabs class="tabs-messages tabs-light tabs-top tabs-icon-top has-tabs-top">
                <ion-tab title="Feed" icon-on="ion-ios-folder-outline" icon-off="ion-ios-folder-outline" href="#/app/tab/feed">
                    <!--   <ion-nav-view name="tab-messages-all"></ion-nav-view> -->
                </ion-tab>
                <ion-tab title="Explore" icon-on="ion-android-globe" icon-off="ion-android-globe" href="#/app/tab/explore">
                    <!--   <ion-nav-view name="tab-messages-sent"></ion-nav-view> -->
                </ion-tab>
                <ion-tab title="Notification" icon-on="ion-android-drafts" icon-off="ion-android-drafts" href="#/app/tab/notification">
                    <!--   <ion-nav-view name="tab-messages-flagged"></ion-nav-view> -->
                </ion-tab>
            </ion-tabs>
        </div>
        <br><br><br>
        <div id="feedContent">
            <div class="card1" style="margin-top: 0px">
                <ion-card>
                    <ion-item>
                        <ion-avatar style="display:inline;float:left">
                            <img width="40px" height="35px" sizes="15" src="https://lh3.googleusercontent.com/PuKDZ4EOWdTL50BR3CJVOiq6bbvJdXZoyQ-FEn9USXTU4IneBdBN3A0oYRVBDIjz8g8d=s128">
                        </ion-avatar>
                        <div style="width:80%;text-align: center; vertical-align: middle">
                            <h2>Lynn Dai
                            </h2>
                            <p>Feb 28, 2016</p>
                        </div>
                    </ion-item>
                    <img style="width: 30px height:25px; text-align:center" src="https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/B003O6H8CK.01.lg.jpg">
                    <ion-card-content>
                        <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
                    </ion-card-content>
                    <ion-item>
                    <div id="buttonofcard" style="text-align: center">
                        <button primary clear item-left>
                            <ion-icon name="thumbs-up"></ion-icon>
                            <div>12 Likes</div>
                        </button>
                        <button primary clear item-left>
                            <ion-icon name="text"></ion-icon>
                            <div>4 Comments</div>
                        </button>
                        <ion-note item-right>
                            11h ago
                        </ion-note>
                        </div>
                    </ion-item>
                </ion-card>
            </div>
        </div>
    </ion-content>
</ion-view>
